#gallery{
	background-color: #b3b3b3;
	height: 760px;
	padding: 60px;
	font-size: 2.0em;
}

#gallery .galeria{
	width: 350px;
	height: 250px;
	border: 3px #FFF solid;
	margin: 20px;
	box-shadow: 5px 5px 20px #000;
	border-radius: 10px;